canvas {
  /* box-sizing content box done to not include border or paddding in style when i do : const style = getComputedStyle(canvas); in Canvas.jsx */
  box-sizing: content-box;

  display: block;
  border: solid black;
  border-width: 1px 1px 1px 0px;
  /* border-left: 10px solid black; */
  margin-right: 10px;
  box-shadow: 10px 0 0 0 orange;
  width: 70%;
  height: calc(100vh - 52px);
}

canvas:hover {
  cursor: crosshair;
}
