
.logo {
  width: 40px;
  height: 40px;
  border-radius: 40%;
  border: 1px solid black;
  margin-left: 30px;
}




@media only screen and (max-width: 430px) {
  .nav {
    /* clip-path: ellipse(69.48% 33.91% at 25.12% 22.03%); */
    height: 80px;
  }

}
